@import "../../../assets/scss/Colors.module.scss";
@import "../../../assets/scss/Fonts.module.scss";
@import "../../../assets/scss/Mixin.module.scss";

.page {
  .interpretation {
    background: url(../../../assets/images/knigi.jpg) no-repeat center center;
    background-size: cover;
    .container {
      @include container;
      background-color: rgba(0, 0, 0, 0.5);
      min-height: 100vh;
      color: $MainColor;
      display: flex;
      flex-direction: column;

      .title {
        padding: 0 0 50px 0;
      }

      .text {
        font-size: $fz20;
        padding: 0 6% 6% 6%;
        color: $Background;
        text-align: justify;
      }

      ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 3%;

        li {
          display: flex;
          align-items: center;
          font-size: $fz20;
          width: 50%;
          padding: 5px 0;

          .icon {
            min-width: 60px;
            min-height: 60px;
            font-size: $fz46;
            border: 4px solid $MainColor;
            border-radius: 50%;
            color: $MainColor;
            margin: 4%;
          }
          div {
            display: flex;
            flex-direction: column;

            h3 {
              font-size: $fz28;
              padding-bottom: 3%;
            }
            p {
              font-size: $fz20;
            }
          }
        }
      }
    }
  }

  .translation {
    background: $BackgroundOpacity;
    .container {
      @include container;
      min-height: 100vh;
      color: $MainColor;
      display: flex;
      flex-direction: column;

      .text {
        font-size: $fz20;
        padding-bottom: 6%;
        color: $HoverColor;
        text-align: justify;
      }
      ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 3%;

        li {
          display: flex;
          align-items: center;
          font-size: $fz20;
          width: 50%;
          padding: 5px 0;

          .icon {
            min-width: 60px;
            min-height: 60px;
            font-size: $fz46;
            border: 4px solid $MainColor;
            border-radius: 50%;
            color: $MainColor;
            margin: 4%;
          }
        }
      }
    }
  }

  .communicating {
    background: url(../../../assets/images/back.jpg) no-repeat center center;
    background-size: cover;
    .container {
      @include container;
      background-color: rgba(0, 0, 0, 0.2);
      min-height: 100vh;

      .title {
        color: $HoverColor;
      }

      div {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          max-width: 355px;
          font-size: $fz30;
          padding: 0 6%;
          color: $Background;
          text-align: justify;
        }

        img {
          max-width: 400px;
          min-width: 100px;
        }
      }
    }
  }

  .call {
    background: $SubmitHover;

    .container {
      @include container;

      h2 {
        color: $BackgroundCard;
      }
    }
  }
}

// Mobile
@media screen and (max-width: 520px) {
  .page {
    .interpretation {
      .container {
        padding: $PaddingMobile;

        .title {
          font-size: $fz30;
          padding: 0 0 30px 0;
        }

        ul {
          li {
            width: 100%;
            align-items: flex-start;

            .icon {
              font-size: $fz30;
              min-width: 30px;
              min-height: 30px;
            }
          }
        }
      }
    }

    .translation {
      .container {
        padding: $PaddingMobile;

        h2 {
          font-size: $fz30;
          padding: 30px 0;
        }

        ul {
          li {
            width: 100%;

            .icon {
              font-size: $fzH2;
              min-width: 36px;
              min-height: 36px;
            }
          }
        }
      }
    }

    .communicating {
      .container {
        padding: $PaddingMobile;

        h2 {
          font-size: $fz30;
          padding: 20px 0;
        }

        div {
          flex-wrap: wrap;

          p {
            padding-bottom: 6%;
            font-size: $fz20;
          }
        }
      }
    }

    .call {
      .container {
        padding: $PaddingMobile;
      }
    }
  }
}

//  Tablet SD
@media screen and (min-width: 521px) and (max-width: 768px) {
  .page {
    .interpretation {
      .container {
        padding: $PaddingTablet;

        .title {
          padding: 0 0 30px 0;
        }

        ul {
          li {
            width: 100%;
            align-items: flex-start;

            .icon {
              font-size: $fzH2;
              min-width: 40px;
              min-height: 40px;
            }
          }
        }
      }
    }

    .translation {
      .container {
        padding: $PaddingTablet;

        h2 {
          padding: 30px 0;
        }

        ul {
          li {
            width: 100%;
          }
        }
      }
    }

    .communicating {
      .container {
        padding: $PaddingTablet;

        h2 {
          padding: 20px 0;
        }

        div {
          flex-wrap: wrap;

          p {
            padding-bottom: 6%;
            font-size: $fz20;
          }
        }
      }
    }

    .call {
      .container {
        padding: $PaddingTablet;
      }
    }
  }
}

// Tablet HD
@media screen and (min-width: 769px) and (max-width: 1350px) {
  .page {
    .interpretation {
      .container {
        padding: $PaddingTablet;
      }
    }

    .translation {
      .container {
        padding: $PaddingTablet;
      }
    }

    .communicating {
      .container {
        padding: $PaddingTablet;
      }
    }

    .call {
      .container {
        padding: $PaddingTablet;
      }
    }
  }
}
