@import "../../assets/scss/Colors.module.scss";
@import "../../assets/scss/Fonts.module.scss";
.button_more {
  text-decoration: none;
  color: $Shadow;
  border: 3px solid $MainColor;
  padding: 10px 15px;
  margin: 20px;
  border-radius: 20px;
  font-weight: bold;
  max-width: 90px;
  text-align: center;

  &:hover {
border: 1px solid $HoverColor;
box-shadow: 0 0 5px $HoverColor;
  }
}
