@import "../../../assets/scss/Colors.module.scss";
@import "../../../assets/scss/Fonts.module.scss";
@import "../../../assets/scss/Mixin.module.scss";

.page {
  .headline {
    background: url(../../../assets/images/knigi.jpg) no-repeat center center;
    background-size: cover;

    .container {
      @include container;
      min-height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
      color: $Background;
      display: flex;
      flex-direction: column;

      .buttons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      .title {
        font-size: $fz46;
        text-align: center;
        padding-top: 3%;
      }

      .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 12%;

        h3 {
          font-size: $fz28;
          text-align: center;
          padding: 2% 0;
          max-width: 600px;
        }
        :nth-child(2) {
          font-weight: bold;
        }
      }
    }
  }
  .offer {
    background: url(../../../assets/images/pink.jpg) no-repeat center center;
    background-size: cover;

    .container {
      @include container;
      min-height: 100vh;
      display: flex;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);

      h2 {
        font-size: $fz46;
      }
    }
  }

  .card {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../../../assets/images/books.jpg) no-repeat center center;
    background-size: cover;

    .container {
      @include container;
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        text-align: center;
        font-size: $fz28;
        padding: 50px;
        color: $Background;
      }

      div {
        display: flex;
        width: 80%;
        height: 30%;
        padding: 50px;
        justify-content: space-between;
        align-items: center;
        margin: 2%;
        background: linear-gradient(
          135deg,
          #ffeafe 0%,
          #ffd8fb 50%,
          #ec9fde 100%
        );
        box-shadow: 0px 10px 13px -7px #000000;
        p {
          font-size: $fz24;
        }

        ul {
          min-width: 35%;
          li {
            font-size: $fz20;

            .star {
              color: $MainColor;
              padding-right: 10px;
              font-size: $MainSize;
            }
          }
        }
      }
    }
  }

  .card2 {
    background-color: $BackgroundPink;

    .container {
      div {
        margin-bottom: 50px;
      }
    }
  }

  .call {
    padding: 10px;
    background-color: $ActiveColor;
    font-size: $fz28;
    text-align: center;

    b {
      font-weight: bold;
      padding: 0 3px;
    }
  }

  .lessons {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../../../assets/images/books.jpg) no-repeat center center;
    background-size: cover;

    .container {
      @include container;
      color: $Background;
      padding-bottom: 50px;

      h3,
      ul,
      li {
        font-size: $fz24;

        .icon {
          padding-right: 15px;
          color: $MainColor;
        }
      }

      p {
        font-size: $fz20;
        padding: 10px 0;
        margin-bottom: 10px;
      }

      .buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

// Mobile
@media screen and (max-width: 520px) {
  .page {
    .headline {
      .container {
        padding: $PaddingMobile;

        .title {
          font-size: $fzH2;
        }
      }
    }

    .offer {
      .container {
        padding: $PaddingMobile;

        h2 {
          font-size: $fz30;
          padding: 0;
        }
      }
    }

    .card {
      .container {
        padding: $PaddingMobile;

        div {
          padding: 15px;
          flex-direction: column;

          p {
            font-size: $fz20;
            text-align: center;
          }

          li {
            display: block;
            font-size: $MainSize;
            text-align: start;
          }
        }
      }
    }

    .lessons {
      .container {
        padding: $PaddingMobile;
        padding-bottom: 50px;

        h2 {
          font-size: $fz30;
        }

        p {
          text-align: center;
        }

        
      .buttons {
        flex-direction: column;
        height: 130px;
      }
      }
    }
  }
}

//  Tablet SD
@media screen and (min-width: 521px) and (max-width: 768px) {
  .page {
    .headline {
      .container {
        padding: $PaddingTablet;

        .title {
          font-size: $fzH2;
        }
      }
    }

    .offer {
      .container {
        padding: $PaddingTablet;

        h2 {
          font-size: $fz30;
          padding: 0;
        }
      }
    }

    .card {
      .container {
        padding: $PaddingTablet;
        div {
          padding: 15px;

          p {
            font-size: $fz20;
          }

          li {
            display: block;
            font-size: $MainSize;
          }
        }
      }
    }

    .lessons {
      .container {
        padding: $PaddingTablet;
        padding-bottom: 50px;

        h2 {
          font-size: $fz30;
        }

        p {
          text-align: center;
        }
      }
    }
  }
}

// Tablet HD
@media screen and (min-width: 769px) and (max-width: 1350px) {
  .page {
    .headline {
      .container {
        padding: $PaddingTablet;

        .title {
          font-size: $fzH2;
        }
      }
    }

    .offer {
      .container {
        padding: $PaddingTablet;

        h2 {
          font-size: $fz30;
          padding: 0;
        }
      }
    }

    .card {
      .container {
        padding: $PaddingTablet;
        div {
          padding: 15px;

          p {
            font-size: $fz20;
          }

          li {
            display: block;
            font-size: $MainSize;
          }
        }
      }
    }

    .lessons {
      .container {
        padding: $PaddingTablet;
        padding-bottom: 50px;
      }
    }
  }
}
