@import "../../../assets/scss/Colors.module.scss";
@import "../../../assets/scss/Fonts.module.scss";
@import "../../../assets/scss/Mixin.module.scss";

.page {
  .headline {
    background-color: $BackgroundOpacity;
    .container {
      @include container;
      min-height: 100vh;
      color: $MainColor;
      display: flex;
      flex-direction: column;

      .buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      .title {
        font-size: $fz46;
        text-align: center;
      }

      p {
        font-size: $fz24;
        text-align: center;
        margin: 20px 0;
        color: $SubmitHover;
      }

      img {
        max-width: 300px;
      }
    }
  }

  .receive {
    .container {
      @include container;

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;

        li {
          display: flex;
          align-items: center;
          font-size: $fz20;
          width: 50%;

          .icon {
            min-width: 60px;
            min-height: 60px;
            font-size: $fz46;
            border: 4px solid $MainColor;
            border-radius: 50%;
            color: $MainColor;
            margin: 4%;
          }
        }
      }

      .summari {
        display: flex;
        padding: 3% 0;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        img {
          max-width: 400px;
          min-width: 100px;
        }
        p {
          max-width: 60%;
          font-size: $fz24;
        }
      }
    }
  }

  .team {
    background: $BackgroundOpacity;

    .container {
      @include container;

      .wrappCorporate {
        display: flex;
        align-items: center;

        img {
          max-width: 400px;
          min-width: 100px;
        }

        p {
          font-size: $fz24;
          padding-left: 3%;
        }
      }

      .button {
        margin: 3% 0;
      }
    }
  }
  .call {
    background: $SubmitHover;

    .container {
      @include container;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;

      h2 {
        color: $BackgroundCard;
      }

      .buttons {
        margin: 30px 0;
      }
    }
  }
}

// Mobile
@media screen and (max-width: 520px) {
  .page {
    .headline {
      .container {
        padding: $PaddingMobile;

        .title {
          font-size: $fzH2;
        }

        h2 {
          font-size: $fz30;
          padding: 30px 0;
        }

        p {
          margin: 0;
        }
      }
    }

    .receive {
      .container {
        padding: $PaddingMobile;

        ul {
          li {
            width: 100%;
          }
        }

        .summari {
          justify-content: center;

          img {
            max-width: 300px;
          }

          p {
            max-width: 100%;
            text-align: justify;
          }
        }
      }
    }

    .team {
      .container {
        padding: $PaddingMobile;

        .wrappCorporate {
          flex-wrap: wrap;
          justify-content: center;

          p {
            padding: 20px 0;
            text-align: justify;
          }
        }

        .button {
          margin: 6% 0;
        }
      }
    }

    .call {
      .container {
        padding: $PaddingMobile;

        h2 {
          font-size: $fz30;
        }
      }
    }
  }
}

//  Tablet SD
@media screen and (min-width: 521px) and (max-width: 768px) {
  .page {
    .headline {
      .container {
        padding: $PaddingTablet;

        .title {
          font-size: $fzH2;
        }

        h2 {
          font-size: $fz30;
          padding: 30px 0;
        }

        p {
          margin: 0;
        }
      }
    }

    .receive {
      .container {
        padding: $PaddingTablet;

        ul {
          justify-content: start;

          li {
            width: 70%;
          }
        }

        .summari {
          justify-content: center;

          img {
            max-width: 300px;
          }

          p {
            max-width: 100%;
            text-align: justify;
            padding: 20px 0;
          }
        }
      }
    }

    .team {
      .container {
        padding: $PaddingTablet;
        display: flex;
        flex-direction: column;
        align-items: center;

        .wrappCorporate {
          flex-wrap: wrap;
          justify-content: center;

          p {
            padding: 20px 0;
            text-align: justify;
          }
        }

        .button {
          margin: 6% 0;
        }
      }
    }

    .call {
      .container {
        padding: $PaddingTablet;

        h2 {
          font-size: $fz30;
        }
      }
    }
  }
}

// Tablet HD
@media screen and (min-width: 769px) and (max-width: 1350px) {
  .page {
    .headline {
      .container {
        padding: $PaddingTablet;

        .title {
          font-size: $fzH2;
        }

        h2 {
          font-size: $fz30;
          padding: 30px 0;
        }

        p {
          margin: 0;
        }
      }
    }

    .receive {
      .container {
        padding: $PaddingTablet;

        ul {
          justify-content: start;
        }

        .summari {
          justify-content: center;

          p {
            max-width: 100%;
            text-align: justify;
            padding: 30px 0;
          }
        }
      }
    }

    .team {
      .container {
        padding: $PaddingTablet;

        .wrappCorporate {
          p {
            text-align: justify;
          }
        }

        .button {
          margin: 6% 0;
        }
      }
    }

    .call {
      .container {
        padding: $PaddingTablet;

        h2 {
          font-size: $fz30;
        }
      }
    }
  }
}
