@import "../../assets/scss/Colors.module.scss";
@import "../../assets/scss/Fonts.module.scss";

main {
  background: url(../../assets/images/main.jpg) no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position-y: 18%;
  position: relative;

  .container {
    // width: 1280px;
    margin: 0 50px;

    .menu {
      display: flex;
      width: 100%;
      padding-top: 20px;

      li {
        list-style: none;

        &:not(:first-child) button {
          margin-left: 30px;
        }

        button {
          border: none;
          // background-color: $Background;
          border-radius: 10px;
          color: $MainColor;
          font-size: $fz20;
          font-weight: $Bold;
          cursor: pointer;

          transition: 0.4s ease;

          &:hover {
            color: $HoverColor;
            box-shadow: 0 2px 0 0 $MainColor;
          }
        }
      }
    }

    .mobile {
      display: none;
      .gamburger {
        margin: 20px 0;
        color: $MainColor;
        font-size: $fz24;
      }
    }

    .title {
      position: absolute;
      top: 100px;
      width: 215px;
      font-size: $fz46;
      font-weight: $Bold;
      color: $MainColor;
    }

    .text {
      position: absolute;
      top: 330px;
      width: 390px;
      font-size: $fz24;
      font-weight: $Normal;
      color: $HoverColor;
    }

    .button {
      position: absolute;
      top: 80%;
    }
    //     color: $Background;
    //     background: $MainColor;
    //     border: none;
    //     height: 60px;
    //     font-weight: $Bold;
    //     text-align: center;
    //     border-radius: 15px;
    //     cursor: pointer;
    //     transition: all 0.4s ease;

    //     &:hover {
    //       background: $Background;
    //       color: $MainColor;
    //       border: 1px solid $MainColor;
    //     }

    //     &:active {
    //       background: $ActiveColor;
    //     }
    //   }
    // }

    // &.popupOpen .title,
    // &.popupOpen .text {
    //   opacity: 0.5;
    //   transition: opacity 0.3s ease;
    // }
  }
}

// Mobile
@media screen and (max-width: 520px) {
  main {
    .container {
      padding: $PaddingMobile;

      .menu {
        display: none;
      }
      .gamburger {
        position: relative;
        margin: 20px 0;

        &:hover {
          cursor: pointer;
        }
        &:active {
          color: $Grey;
        }
      }

      .mobile {
        display: block;

        .menu_mobile {
          display: none;
          transition: all 0.3s ease;

          flex-direction: column;
          position: absolute;
          top: 8px;
          right: 40px;
          display: flex;
          width: 150px;
          background: $Background;
          box-shadow: 0px 4px 15px -2px $Grey;

          li {
            list-style: none;
            button {
              border: none;
              background-color: $Background;
              color: $MainColor;
              cursor: pointer;

              transition: 0.4s ease;

              &:hover {
                color: $HoverColor;
              }
            }
          }
        }
      }

      .title {
        top: 18%;
        font-size: $fzH2;
        
      }
      .text {
        top: 250px;
        width: 250px;
        font-size: $fz20;
      }
    }
  }
}

//  Tablet SD
@media screen and (min-width: 521px) and (max-width: 768px) {
  main {
    .container {
      padding: $PaddingTablet;

      .menu {
        display: none;
      }
      .gamburger {
        position: relative;
        margin: 20px;

        &:hover {
          cursor: pointer;
        }
        &:active {
          color: $Grey;
        }
      }

      .mobile {
        display: block;

        .menu_mobile {
          display: none;
          transition: all 0.3s ease;

          flex-direction: column;
          position: absolute;
          top: 8px;
          right: 40px;
          display: flex;
          width: 170px;
          background: $Background;
          box-shadow: 0px 4px 15px -2px $Grey;

          li {
            list-style: none;
            button {
              border: none;
              background-color: $Background;
              color: $MainColor;
              font-weight: $Bold;
              font-size: $fz20;
              cursor: pointer;

              transition: 0.4s ease;

              &:hover {
                color: $HoverColor;
              }
            }
          }
        }
      }

      .title {
        top: 10%;
        font-size: $fzH2;
      }
      .text {
        top: 250px;
      }
    }
  }
}

// Tablet HD
@media screen and (min-width: 769px) and (max-width: 1350px) {
  main {
    .container {
      padding: $PaddingTablet;
      .title {
        font-size: $fzH2;
      }
      .text {
        top: 270px;
      }
    }
  }
}
